nav {
	border-bottom: 1px solid;
	border-bottom-color: #e8e8e8;
}

.wholeSection {
	display: grid;
	grid-template-columns: 1fr;
	align-content: center;
	justify-items: center;
}
body {
	font-size: 16px;
	color: #666666;
	overflow-x: hidden;
}
.section--bookingperson {
	margin-top: 46px;
	width: 990px;
	font-weight: 700;
	font-size: 19px;
}
.nobooking {
	width: 990px;
}
footer {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: #757575;
	color: #ffffff;
	line-height: 104px;
	height: 865px;
	width: 100vw;
}
@media (max-width: 1000px) {
	.wholeSection {
		justify-content: left;
	}
	.section--bookingperson,
	.nobooking {
		margin-left: 10px;
		width: 100vw;
	}
}
