* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  overflow-x: hidden;
}
/* navigation desktop */
nav {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  padding: 0 10px;
  height: 54px;
  display: grid;
  justify-content: center;
}

.desktop {
  display: grid;
  width: 1200px;
  height: 54px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
/* 台北一日遊 */
.taipei {
  font-size: 30px;
  color: #448899;
  font-weight: bold;
}

.journey {
  color: #666666;
  font-size: 16px;
  text-align: right;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #666666;
}
.journeyA {
  margin-right: 20px;
}
.block {
  height: 54px;
}
/* section for search */
/* 最外層藍色背景 */
header {
  background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  width: auto;
  height: 320px;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.searchOuter {
  height: 320px;
  display: grid;
  grid-template-columns: 600px 600px;
  align-items: center;
}
.searchsection {
  display: grid;
  height: 169px;
  color: #f8f8f8;
  grid-template-rows: 41px 15px 22px 25px 46px;
  align-items: center;
}
/* 大標：台北一日悠閒 */
.searchsectionTitle1 {
  font-size: 28px;
  grid-row-start: 1;
  font-weight: bold;
}
/* 探索每個角落 */
.searchsectionTitle2 {
  font-size: 16px;
  grid-row-start: 3;
}
.searchbox {
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 400px 60px;
}
/* 輸入景點框 */
.searchWord {
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
  border: 0 none;
  border-radius: 5px 0 0 5px;
}
.searchButton {
  background: #448899;
  width: 60px;
  height: 46px;
  border: 0 none;
  border-radius: 0 5px 5px 0;
}

/* 生成的html element設定 */
main {
  width: auto;
  display: grid;
  justify-content: center;
}
.siteOuter {
  margin-top: 55px;
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-auto-rows: 242px;
  column-gap: 30px;
  row-gap: 30px;
}
.siteInner {
  display: grid;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 5px;
}
.siteImg {
  width: 100%;
  height: 160px;
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 5px 5px 0 0;
}
.siteName {
  font-size: 16px;
  font-weight: bold;
  color: #757575;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 12px 0px 0px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.siteMRT {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  color: #757575;
  font-size: 16px;
  margin: 15px 0px 12px 10px;
}
.siteCategory {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  color: #757575;
  font-size: 16px;
  text-align: right;
  margin: 15px 10px 12px 0px;
}
footer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background: #757575;
  font-family: "Noto Sans TC";
  line-height: 60px;
  /* position: absolute;
  bottom: 0; */
}

@media (max-width: 1200px) {
  .desktop {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .taipei {
    margin-left: 10px;
    font-size: 30px;
    color: #448899;
  }
  .journey {
    margin-right: 10px;
    color: #666666;
    font-size: 16px;
    text-align: right;
    display: inline-block;
  }
  .searchOuter {
    margin-left: 20px;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .siteOuter {
    margin-top: 55px;
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: 242px;
    column-gap: 30px;
    row-gap: 30px;
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  header {
    width: auto;
    height: 280px;
    display: grid;
    justify-content: center;
  }
  .searchOuter {
    height: 280px;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px;
    position: relative;
  }
  .searchbox {
    grid-row-start: 5;
    display: grid;
    grid-template-columns: 230px 60px;
    z-index: 2;
  }
  .siteOuter {
    grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
    grid-auto-rows: 280px;
    row-gap: 15px;
    padding: 0 20px;
  }
  .building {
    width: 276px;
    height: 148px;
    position: absolute;
    bottom: 0;
    right: -60px;
    z-index: 1;
    overflow: hidden;
  }
  .siteImg {
    height: 202px;
  }
  .siteName {
    margin: 8px 0px 0px 10px;
  }
}
.divNew {
  height: 2px;
}
